{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-4">
    <div class="list-group">
      {% for c in all_categories %}
      <a
	 {% if sel_category and c.category_id == sel_category.category_id %}
	 class="list-group-item active"
	 {% else %}
	 class="list-group-item"
	 {% endif %}
	 href="{{ url_for('showCategory', category_id=c.category_id) }}">
	<span class="badge">
	  {{ c.num_items() }}
	</span>

	{{ c.name }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-8">
    <div class="category-detail">
      {% if sel_category %}

      <h2 class="category-title">{{ sel_category.name }}</h2>

      {% if sel_category.user.name == login_session['username'] %}
      <div class="category-modification">
	<a href="{{ url_for('editCategory', category_id=sel_category.category_id) }}">Edit</a>
	|<a href="{{ url_for('deleteCategory', category_id=sel_category.category_id) }}">Delete</a>
      </div>
      {% endif %}

      <div class="category-description">
	{{ sel_category.description }}
      </div>

      {% endif %}
    </div>

    <div class="item-list">
      {% if sel_category and sel_category.num_items() > 0 %}
      <h3 class="item-list-title">Items in this category</h3>
      <div class="row">
      {% for i in sel_category.items %}
      <div class="col-xs-6 col-md-3">
	<h4 class="item-title">{{ i.name }}</h4>
	<div class="item-description">
	  {{ i.description }}
	</div>
      </div>
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  
</div>
{% endblock %}
