{% extends "base.html" %}

{% block content %}

<div class="row">
  {% if num_categories > 0 %}
  <div class="col-sm-4">
    <div class="list-group">
      <h4 class="category-list-title">Category</h4>
      {% for c in all_categories %}
      <a
	 {% if sel_category and c.category_id == sel_category.category_id %}
	 class="list-group-item active"
	 {% else %}
	 class="list-group-item"
	 {% endif %}
	 href="{{ url_for('showCategory', category_id=c.category_id) }}">
	<span class="badge">
	  {{ c.num_items }}
	</span>

	{{ c.name }}
      </a>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="jumbotron">
    <h1>Welcome to the Catalog app!</h1>
    {% if 'username' in login_session %}
    <p>Create a <a href="{{ url_for('newCategory') }}">New Category</a> to get started.</p>
    {% else %}
    <p><a href="{{ url_for('showlogin') }}">Login</a> to get started.</p>
    {% endif %}
  </div>
  {% endif %}

  <div class="col-sm-8">
    <div class="category-detail">
      {% if sel_category %}

      <h2 class="category-title">{{ sel_category.name }}</h2>

      {% if 'username' in login_session and sel_category.user.name == login_session['username'] %}
      <div class="category-modification">
	<a href="{{ url_for('editCategory', category_id=sel_category.category_id) }}">Edit category</a>
	|<a href="{{ url_for('deleteCategory', category_id=sel_category.category_id) }}">Delete category</a>
	|<a href="{{ url_for('newItem', category_id=sel_category.category_id) }}">Add new Item</a>
      </div>
      </h2>
      {% endif %}

      <div class="category-description">
	{{ sel_category.description }}
      </div>
    {% endif %}
    </div>

    <div class="item-list">
      {% if sel_category and sel_category.num_items > 0 %}
      <h3 class="item-list-title">Items in this category</h3>
      <div class="row">
	{% for i in sel_category.items %}	
      <div class="col-sm-12">
	<a href={{ url_for('showItem', item_id=i.item_id) }}>{{ i.name }}</a>
      </div>
      {% endfor %}
      </div>
      {% elif sel_category %}
      <div class="jumbotron">
	<p>This category contains no items!  Add a
	  <a href="{{ url_for('newItem', category_id=sel_category.category_id) }}">
	    new item
	  </a>
	  to get started.</p>
      </div>
      {% endif %}
    </div>
  </div>
  
</div>
{% endblock %}
