.main-title {
    font-size: 50px;
    margin: 20px;
    color: #0015ab;
    text-align: center;
    text-shadow: 3px 2px gray;
}

h1 {
    color: gray;
    margin: 10px;
}

.hidden {
    display: None;
}

.category-list-title {
    color: #0015ab;
}

.num-item-title {
    text-align: right;
}